<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class ="email_content">
      <h1><%= t 'report.introuction', company_name: @company.name %></h1>
      <%= t 'report.workers_title' %>

      <div class="workers">
        <% @shift_reports.each do |report| %>
          <div class="site_workers">
            <% unless report.shift.workers.empty? %>
              <%= report.shift.site.name %>: 
              <% report.shift.workers.each do |worker| %>
                <%= worker.name %>,
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <br>
      <%= t 'report.sites_title' %> 
      <br>

      <div class="report">
        <%= render @shift_reports %>
      </div>
    </div>
  </body>
</html>