<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class ="email_content">
      <h1>Hello, <%= @company.name %>. This is your report for today. </h1>
      The workers who showed up today to work are:

      <div class="workers">
        <% @company.sites.each do |site| %>
          <div class="site_workers">
            <% unless site.last_shift.workers.empty? %>
              <%= site.name %>: 
              <% site.last_shift.workers.each do |worker| %>
                <%= worker.name %>,
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <br>
      The last completed shifts for all of your sites are included below: 
      <br>

      <div class="report">
        <% @company.sites.each do |site| %>
          <div class="site_report">
            <% if site.last_shift.report.has_messages? %>
              <%= site.name %>
              <ul>
                <% site.last_shift.report.worker_reports.each do |worker_report| %>
                  <li class="worker_report">
                    <% unless worker_report.messages.empty? %>
                      <%= worker_report.worker.name %>
                      <ul>
                        <% worker_report.messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>