<h1>List of your workers</h1>

<ul class="workers">
  <% @worker.each do |worker| %>
    <li>
    	<%=link_to worker_path(worker) do %>
			<div class="workersInfo">
        <%= worker.first_name %>
    		<%= worker.last_name %>
        <span>|</span> <%= link_to "edit", edit_worker_path(worker)%>
        <span>|</span> <%= link_to "delete", worker, method: :delete,
                                    data: { confirm: "You sure?" } %>
      	<% end %>
      </div>
    </li>
  <% end %>
</ul>

<div class = "button">
	<%= link_to '<button type="button">Add worker</button>'.html_safe, workers_new_path %>
</div>

