<div class="info_for_dailymail">
  <h3>
    Are you going to recieve daily mail for your workers:
    <% if @company.settings(:daily_mail).daily_mail == "True" %>
      <h3>Yes</h3>
    <% else %>
      <h3>No</h3>
    <% end %>
    <span><%= link_to '(change it here)', settings_path %></span> 
  </h3>
</div>
<h1>List of your workers</h1>
<ul class="workers">
  <% @worker.each do |worker| %>
    <li>
      <div class="workersInfo">
      	<%=link_to worker_path(worker) do %>
          <%= worker.name %>
        <% end %>
        <span>|</span> <%= link_to "edit", edit_worker_path(worker)%>
        <span>|</span> <%= link_to "delete", worker, method: :delete,
                                      data: { confirm: "You sure?" } %>
      </div>
    </li>
  <% end %>
</ul>

<div class = "button">
	<%= link_to '<button type="button">Add worker</button>'.html_safe, workers_new_path %>
</div>

