<div class="worker">
	<p><%= @worker.name %></p>
		<p><%= @company.company_name %> </p>
</div>

<% if @company.settings(:daily_mail).daily_mail %>
  <p> Are you going to recieve daily mail: Yes</p>
<% else %>
  <p> Are you going to recieve daily mail: No</p>
<% end %>
<div class="wtable">
	<table>
		<tr>
  			<th>Start of the shift </th>
  			<th>End of the shift </th>
        <th>Answered calls </th>
        <th>Time left </th>
        <th>Sent at </th>
        <th>Unanswered calls </th>
  		</tr>
  		<tr>
  			<td> Something </td>
  			<td> Something v2 </td>
        <td>   
          <% @calls.each do |call| %>
            <% if call.answered? %>
              <%= call %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% @calls.each do |call| %>
            <% if call.answered? %>
              <%= call.time_left %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% @calls.each do |call| %>
            <% if call.answered? %>
              <%= call.sent_at %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% @calls.each do |call| %>
            <% if call.unanswered? %>
              <%= call %>
            <% end %>
          <% end %>
        </td>
      </tr>
	</table>
</div>