<% provide(:title, @worker.name) %>

<div class="worker">
	<p><%= @company.name %> </p>
  <p><%= @worker.name %></p>
  <p>Calls</p>
</div>
<div class="wtable">
	<table>
		<tr>
      <th>Timestamp</th>
      <th>Category</th>
      <th>Time left</th>
		</tr>

    <% @activities.each do |a| %>
      <tr class="<%= a.row_class %>">
        <td><%= a.created_at.localtime %></td>
        <td><%= a.category %></td>
        <td><%= a.time_left %></td>
      </tr>
    <% end %>
	</table>
</div>