<div class="worker">
	<p><%= @worker.first_name %> <%= @worker.last_name %></p>
    <%= link_to "Wanna edit your worker?", edit_worker_path(@worker) %>
		<p><%= @company.company_name %> </p>
</div>

<div class="wtable">
	<table>
		<tr>
  			<th>Start of the shift </th>
  			<th>End of the shift </th>
  			<th>Calls </th>
  		</tr>
  		<tr>
  			<td> Something </td>
  			<td> Something v2 </td>
  			<td>   
  				<% @calls.each do |call| %>
					<%= call %>
    			<% end %>
    	 	</td>
  		</tr>
	</table>
</div>