<div class="worker">
	<p><%= @company.company_name %> </p>
  <p><%= @worker.name %></p>
  <p>Range : <%= @worker.settings(:call_length).call_length %></p>
  <p>Start of the shift <%= @company.settings(:shift_start).shift_start %> </p>
  <p>End of the shift <%= @company.settings(:shift_end).shift_end %> </p>
  <span><%= link_to 'change shifts here', settings_path %></span>
  <%= form_tag do %>
    <div class="call_length">
      <span>Enter range between every call (in minutes)</span>
      <input id="call_length" name="call_length" min="5" max="60" type="number" />
      <button type="Submit" class="submit_button"> Save changes </button>
    </div>
  <% end %>

  <p>Calls</p>
</div>
<div class="wtable">
	<table>
		<tr>
        <th>Sent at</th>
        <th>Received at</th>
        <th>Time left </th>
  		</tr>
      <% @calls.each do |call| %>
        <tr>
          <td><%= call.created_at.localtime %></td>
          <%= call.received_at.localtime %>
          <td>
            <div class ="answered_call">
              <% if call.answered? %>
                <%= call.received_at.localtime %>
              <% end %>
            </div>

            <div class ="unanswered_call">
              <% if !call.answered? %>
                <%= call.received_at.localtime %>
              <% end %>
            </div>
          </td>
          <td><%= call.time_left %></td>
        </tr>
      <% end %>
	</table>
</div>