<% provide(:title, 'Settings') %>

<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Settings</title>
  </head>
	<body>
		<%= form_tag('/settings/', method: :patch) do %>
			<div class="field">
				Do you want to a receive a report by email every day?
				<%= check_box_tag :email_wanted, true, @company.settings(:email).wanted %>
			</div>

			<div class="field">
				When do you want to receive the mail?
				<%= text_field_tag :email_time, @company.settings(:email).time, placeholder: 'format: HH:MM', pattern: '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>
			</div>

			<%= submit_tag %>
		<% end %>

		<%= link_to "Want to edit your email or credentials?", edit_company_registration_path %>
	</body>
</html>