<% provide(:title, 'Workers') %>

<h2>Your workers</h2>
<ul class="workers">
  <% @workers.each do |worker| %>
    <li>
      <div class="worker">
      	<%=link_to worker.name, worker %>
        
        <span>|</span> <%= link_to "edit", edit_worker_path(worker)%>
        <span>|</span> <%= link_to "delete", worker, method: :delete,
                                      data: { confirm: "You sure?" } %>
      </div>
    </li>
  <% end %>
</ul>

<%= button_tag type: :button do %>
  <%= link_to 'Create worker', new_worker_path %>
<% end %>
