<% provide(:title, @worker.name) %>

<h2><%= @worker.name %></h2>
<h4>This worker's sites:</h4>

<ul id="sites">
  <% @worker.sites.each do |s| %>
    <li><%= s.name %></li>
  <% end %>
</ul>

<div class="wtable">
	<table>
		<tr>
      <th>Timestamp</th>
      <th>Category</th>
      <th>Time left</th>
		</tr>

    <% @activities.each do |a| %>
      <tr class="<%= a.row_class %>">
        <td><%= a.created_at.localtime %></td>
        <td><%= a.category %></td>
        <td><%= a.time_left %></td>
      </tr>
    <% end %>
	</table>
</div>