<% provide(:title, @worker.name) %>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<h2 class="page-header"><%= @worker.name %></h2>
<div class="text-center">Trust score: <%= @worker.trust_score.round(2) %>%</div>
<div class="col-md-8 col-md-offset-2">
	<h4 id="sites"><%= t '.worker_sites' %>: <%=(@worker.sites.map &:name).join(', ')%></h4>

	<%= line_chart @chart_data, max: 100.0, library: { curveType: 'none' } %>
		
	<div class="wtable">
		<table>
			<thead>
				<tr>
					<th><%= t '.timestamp' %></th>
					<th><%= t '.category' %></th>
					<th><%= t '.time_left' %></th>
				</tr>
			</thead>

			<tbody class="activities">
				<% @activities.each do |a| %>
					<tr class="<%= a.row_class %>">
						<td><%= a.created_at.localtime.strftime '%H:%M:%S %d/%m/%Y' %></td>
						<td><%= a.category %></td>
						<td><%= a.time_left %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= will_paginate @activities, param_name: 'activities_page', renderer: BootstrapPagination::Rails %>
	</div>
</div>
