<% provide(:title, 'Sites') %>

<h2>Your sites</h2>
<ul class="sites">
  <% @site.each do |site| %>
    <li class="site">
	    <%=link_to site_path(site) do %>
      	<%= site.name %>
      <% end %>
      | 
      <%= link_to "delete", site, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul>

<%= button_tag type: :button do %>
  <%= link_to 'Create site', new_site_path %>
<% end %>
