<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@site) do |f| %>
    	<%= render 'shared/error_site_message' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.submit "Create new site", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>