<% provide(:title, 'Sites') %>

<h2>Your sites</h2>
<!-- <ul class="sites">
  <% @sites.each do |site| %>
    <li class="site">
      <%=link_to site.name, site %>
       | 
      <%= link_to "delete", site, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </li>
  <% end %>
</ul> -->

<%= link_to 'Create site', new_site_path, class:'btn btn-primary pull-left' %>

<div class="clearfix"></div>

<br />
<br />

<div class="col-md-6">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Site name</th>
        <th>Manage</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td>
            <%= site.name %>
          </td>

          <td>
            <%=link_to "Manage", site, class:"btn btn-default" %>
          </td>

          <td>
            <%= link_to site, method: :delete, data: { confirm: "You sure?" } do %>
              <button class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
