<% provide(:title, 'Create site') %>

<h2 class="page-header">Create site</h2>

<div class="col-md-offset-4 col-md-4">
  <%= form_for(@site) do |f| %>
    <%= render 'shared/errors', errors: @site.errors %>

    <div class="form-group row">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  
    <%= f.submit "Create new site", class: "btn btn-primary center-block row" %>
  <% end %>
</div>
