<% provide(:title, @site.name) %>

<% content_for :head do %>
  <%= javascript_include_tag 'site/show.js' %>
  <%= stylesheet_link_tag 'site/show.css' %>
<% end %>

<div class="site_name">
	<%= @site.name %>
</div>  

<div class="attached_worker">
  <%= @site.settings(:attached_worker).name %>
</div>

<%= form_tag @site, method: :put do %>
  <div class="field">
    Which worker do you want to be on this site?
    <%= select_tag 'attached_worker', options_from_collection_for_select(@workers, 'name', 'name') %>
  </div>

  <div class="field">
    Enter call interval
    <%= text_field_tag :call_interval, @site.settings(:call).interval, min: 5, max: 60, type: :number %>
  </div>

  <div class="field">
    Enter the start of the shift!
    <%= text_field_tag :shift_start, @site.settings(:shift).start, placeholder: 'format: HH:MM', pattern: '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>
  </div>

  <div class="field">
    Enter the end of the shift!
    <%= text_field_tag :shift_end, @site.settings(:shift).end, placeholder: 'format: HH:MM', pattern: '([01]?[0-9]|2[0-3]):[0-5][0-9]' %>
  </div>

  <div class="workers">
    <h4>Workers on this site</h4>
    
    <% @site.workers.each do |w| %>
      <%# Call the js function for each worker %>
      <%= javascript_tag "create_worker_input('#{w.name}');" %>
    <% end %>
  </div>
  <%= submit_tag %>
<% end %>
