<% provide(:title, @site.name) %>

<% content_for :head do %>
  <%= javascript_include_tag 'site/show.js' %>
  <%= stylesheet_link_tag 'site/show.css' %>
<% end %>

<h2 id="site_name" class="page-header"><%= @site.name %></h2>

<%= form_tag @site, method: :put, class:'col-md-offset-3 col-md-6' do %>
  <div class="form-group row col-md-3 pull-left">
    <%= label_tag :call_interval%>
    <%= text_field_tag :call_interval, @site.settings(:call).interval, min: 5, max: 60,
                       type: :number, class:'form-control' %>
  </div>

  <div class="form-group row col-md-4 col-md-offset-2 col-xs-4 col-xs-offset-2">
    <%= label_tag :shift_start%>
    <%= time_field_tag :shift_start, @site.settings(:shift).start, class:'form-control' %>
  </div>

  <div class="form-group row col-md-4 col-xs-4 pull-right">
    <%= label_tag :shift_end%>
    <%= time_field_tag :shift_end, @site.settings(:shift).end, class:'form-control' %>
  </div>

  <div class="clearfix"></div>

  <hr class="col-md-12 col-xs-12"/>

  <div id="workers">
    <h4 id="workersHeader">Workers on this site</h4>
    
  <div class="new-worker input-group form-group" >
    <%= autocomplete_field_tag 'worker_name', '', autocomplete_worker_name_workers_path(@site), { class: 'form-control', id:'new-worker-input', 'data-auto-focus' => true } %>
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" id="new-worker-add" data-toggle="tooltip" data-placement="right" title="Add worker">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </span>
  </div>

    <% @site.workers.each do |w| %>
      <%# Call the js function for each worker %>
      <%= javascript_tag "create_worker_input('#{w.name}');" %>
    <% end %>
  </div>


  <%= submit_tag "Save changes", class: 'btn btn-primary center-block row' %>
<% end %>
