
<% content_for :head do %>
  <%= stylesheet_link_tag 'hover/hover-min.css' %>
<% end %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "AttendanceCheck", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right main-nav">
        <% if company_signed_in? %>
          <li>
            <%= link_to sites_path do %>
              <span class="glyphicon glyphicon-home"></span>
            <% end %>
          </li>
          <li>
            <%= link_to workers_path do %>
              <span class="glyphicon glyphicon-user"></span>
            <% end %>
          </li>
          <li>
            <%= link_to settings_path do %>
              <span class="glyphicon glyphicon-cog"></span>
            <% end %>
          </li>
          <li><%= link_to "Sign out", destroy_company_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_company_registration_path %></li> 
          <li><%= link_to "Sign in", new_company_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>