<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                          'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Used by the i18n-js gem -->
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1"	>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="wrap">
      <div id="main" class="container clear-top">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
